<!DOCTYPE html>
<html>
<head>
	<title><%-msg%></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<p><img src="/img/logo.png" style="width:300px;"></p>
<p><b>Hello Welcome Controller.</b><br>Node Racer is a minimal and flexible node.js web application framework based on express.js</p>
<p>This view screen is a sample routing example.</p>
<br>
<h3>ROUTE TEST</h3>
<p><a href="http://localhost:<%-port%>">http://localhost:<%-port%></a></p>
<p><a href="http://localhost:<%-port%>/racer/print/true" target="_blank">http://localhost:<%-port%>/racer/print/true</a></p>
<p><a href="http://localhost:<%-port%>/racer/print/false" target="_blank">http://localhost:<%-port%>/racer/print/false</a></p>
<p><a href="http://localhost:<%-port%>/racer/print/text" target="_blank">http://localhost:<%-port%>/racer/print/text</a></p>
<p><a href="http://localhost:<%-port%>/racer/test/print" target="_blank">http://localhost:<%-port%>/racer/test/print</a></p>
<p><a href="http://localhost:<%-port%>/racer/test/print/text" target="_blank">http://localhost:<%-port%>/racer/test/print/text</a></p>
<p><a href="http://localhost:<%-port%>/racer/model/load" target="_blank">http://localhost:<%-port%>/racer/model/load</a></p>
<br>
<h3>GET TEST</h3>
<p><a href="http://localhost:<%-port%>/racer/get/specific?test=3&test2=4" target="_blank">http://localhost:<%-port%>/racer/get/specific?test=3&test2=4</a></p>
<p><a href="http://localhost:<%-port%>/racer/get/all?test=3&test2=4" target="_blank">http://localhost:<%-port%>/racer/get/all?test=3&test2=4</a></p>
<p><a href="http://localhost:<%-port%>/racer/get/json?test=3" target="_blank">http://localhost:<%-port%>/racer/get/json?test=3</a></p>
<p><a href="http://localhost:<%-port%>/racer/get/method" target="_blank">http://localhost:<%-port%>/racer/method</a></p>
<p><a href="http://localhost:<%-port%>/racer/get/is_get" target="_blank">http://localhost:<%-port%>/racer/is_get</a></p>
<br>
<h3>POST TEST</h3>
<p><a href="http://localhost:<%-port%>/racer/post" target="_blank">http://localhost:<%-port%>/racer/post</a></p>
<br>
<h3>SESSION TEST</h3>
<p><a href="http://localhost:<%-port%>/racer/session/set" target="_blank">http://localhost:<%-port%>/racer/session/set</a></p>
<p><a href="http://localhost:<%-port%>/racer/session/get" target="_blank">http://localhost:<%-port%>/racer/session/get</a></p>
</p>
</body>
</html>




